<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://github.com/moneroexamples/onion-scp1310jp1-blockchain-explorer">source code</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | scp1310jp1 version: {{scp1310jp1_version_full}}
    </h6>
    <h6 style="margin-top:10px">
        SCP-1310-JP-1(Cryptocurrency) is based on <a href="http://ja.scp-wiki.net/scp-1310-jp">"SCP-1310-JP"</a> by "Tomioka
    </h6>
</div>
</body>
</html>
